ion-content {
    ion-grid {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;

        ion-card {
            img {
                opacity: 0.5;
                max-width: 20%;
                max-height: 20%;
            }
            ion-card-header {
                ion-card-subtitle {
                    color: yellow;
                    padding-bottom: 15px;
                }
            }
            ion-card-content {
                .input-group-prepend {
                    .input-group-text {
                        background-color: transparent;
                        border-color: var(--color-dark-steep-200);
                        border-left: none;

                        ion-icon {
                            font-size: 20px;
                        }
                    }
                }

                .custom-checkbox {
                    label {
                        padding-top: 3px;
                    }
                }
            }
        }
    }
}
