<app-navbar></app-navbar>

<ion-content class="ion-padding" *ngIf="loadingMembers">
    <ion-grid class="md grid-fixed">
        <app-loading></app-loading>
    </ion-grid>
</ion-content>

<ion-content class="ion-padding" *ngIf="!loadingMembers">
    <ion-grid class="md grid-fixed">
        <ion-row>
            <ion-col>
                <ion-toolbar>
                    <ion-title slot="start">
                        <translate text="secretary.members"></translate>
                    </ion-title>
                    <ion-chip slot="end" outline color="success" (click)="presentModal()">
                        <ion-icon name="person-add"></ion-icon><translate text="new_member"></translate>
                    </ion-chip>
                    <ion-chip slot="end" outline color="primary" (click)="TryLoading()">
                        <ion-icon name="person-add"></ion-icon> <span>Loading</span>
                    </ion-chip>
                </ion-toolbar>
                <!-- <ion-toolbar>
                    <ion-searchbar color="light"></ion-searchbar>
                </ion-toolbar> -->

                <ion-list>
                    <ion-list-header>
                        <small class="uppercase">
                            <translate text="secretary.recent_members"></translate>
                        </small>
                    </ion-list-header>

                    <ion-item>
                        <ion-avatar slot="start">
                            <img src="./avatar-poe.png">
                        </ion-avatar>
                        <ion-label>
                            <h2>Poe</h2>
                            <h3>New Ride</h3>
                            <p>I just upgraded my X-Wing. Next time...</p>
                        </ion-label>
                    </ion-item>
                </ion-list>

                <ion-list>
                    <ion-list-header>
                        <small class="uppercase">
                            <translate text="secretary.all_members"></translate>
                        </small>
                    </ion-list-header>

                    <ion-item *ngFor="let member of members" class="clickable" detail>
                        <ion-avatar slot="start">
                            <img [src]="member.avatar">
                        </ion-avatar>
                        <ion-label>
                            <h2>{{ member.name }}</h2>
                            <h3>{{ member.personal_email}}</h3>
                            <p>{{ member.gender }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <app-infinite-scroll (loadData)="loadData()"></app-infinite-scroll>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
