$width-lg: 992px;
$width-sm: 768px;

$color-dark: #222428;
$background-dark: darken($color-dark, 5%);

@media (min-width: $width-lg) {
    .split-pane-side {
        max-width: 15vw !important;
        --ion-background-color: $background-dark;
        background-color: $background-dark;
    }
}

@media (min-width: $width-sm) {
    .dialog-modal {
        --width: 50vw !important;
        --height: 80vh !important;
    }
}

@media (max-width: $width-sm) {
    ion-content {
        ion-grid {
            ion-card {
                --background: $color-dark !important;
                background: $color-dark !important;
                box-shadow: none !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}