$color-green: #2e8015;
$color-dark-gray: rgba(0, 0, 0, 0.1);

.active {
    border-left: 3px solid var(--ion-color-primary);
}

.clickable:hover {
    background-color: lighten($color-dark-gray, 20) !important;
    --ion-background-color: lighten($color-dark-gray, 20) !important;
}