/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import 'assets/fonts/stylesheet.css';

/* Bootstrap and Bs stepper CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bs-stepper/dist/css/bs-stepper.min.css';

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~animate.css/animate.min.css";

@import "theme/mixins";
@import "theme/queries";

:root {
    --color-dark-steep-100: rgba(0, 0, 0, 0.1);
    --color-dark-steep-200: #343a40;
    --color-dark-steep-800: rgba(255, 255, 255, 0.8);

    --ion-border-color: var(--ion-color-dark-shade);
    --ion-background-color: var(--ion-color-dark);
    --ion-background-color-rgb: var(--ion-color-dark-rgb);
    --ion-text-color: var(--ion-color-light);
    --ion-text-color-rgb: var(--ion-color-light-rgb);

    ion-alert,
    ion-toast,
    ion-action-sheet {
        --background: var(--ion-color-dark-shade);
    }

    ion-toast {
        color: var(--color-dark-steep-800);
        --button-color: #fff;

        a {
            color: var(--color-dark-steep-800);
        }
    }

    .form-control {
        background-color: var(--color-dark-steep-100);
        color: var(--color-dark-steep-800);
        border-color: var(--color-dark-steep-200);
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .clickable {
        cursor: pointer;
        transition-duration: 0.5s;
        transition: transform 0.5s;
    }

    .clickable:hover {
        background-color: var(--color-dark-steep-100);
        --ion-background-color: var(--color-dark-steep-100);
        transform: scale(1.02);
        transition: background-color 1s;
        transition: transform 0.5s;
    }

    .selected {
        --ion-background-color: rgba(0, 0, 0, 0.4);
    }
}
